<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#blog">Blog</a></li>
  <li><a data-toggle="tab" href="#picture">Pictures</a></li>
</ul>

<div class="tab-content">
  <div id="blog" class="tab-pane fade in active">
    <% @posts.each do |post| %>
      <div style="border: 1px solid black">
      <p><%= post.title %></p>
      <p><%= sanitize post.content, tags:  %w(strong em a u s sub sup img div figure figcaption p hr ol ul li table caption tbody tr td span), attributes: %w(href style border summary cellspacing cellpadding alt src title width height ) %></p>
      <%= link_to "Edit", edit_post_path(post) %>
      </div>
    <% end %>
  </div>
  <div id="picture" class="tab-pane fade">

  </div>
</div>

